<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>Bob.applescript</string>
			<key>Image File</key>
			<string>Bob.png</string>
			<key>Title</key>
			<string>Bob Translate</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://bobtranslate.com/</string>
			<key>Name</key>
			<string>ripperhe</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Translate text with Bob.</string>
	<key>Extension Identifier</key>
	<string>com.ripperhe.popclip.extension.Bob</string>
	<key>Extension Image File</key>
	<string>Bob.png</string>
	<key>Extension Name</key>
	<string>Bob v2</string>
	<key>Required OS Version	</key>
	<string>10.13</string>
</dict>
</plist>
